snippet tbd
== TO BE DONE == ${0}
endsnippet

snippet code "code" b
\`\`\`
${1:${VISUAL}}
\`\`\`
endsnippet

snippet more "more" b
<!--more-->
endsnippet

snippet table "table" b
| ${1}  | ${2}  | ${3}  |
|---|---|---|
| ${4}  | ${5}  | ${6}  |
| ${7}  | ${8}  | ${9}  |
endsnippet
