[http "https://github.com"]
    proxy = socks5://127.0.0.1:1080
[http "https://go.googlesource.com"]
    proxy = socks5://127.0.0.1:1080
[http "https://code.videolan.org"]
    proxy = socks5://127.0.0.1:1080
[http "https://code.qt.io"]
    proxy = socks5://127.0.0.1:1080
[core]
    autocrlf = false
    safecrlf = false
[color]
    ui = true
[help]
    autocorrect = -1
[i18n]
    commitencoding = utf-8
    logoutputencoding = utf-8
[gui]
    encoding = utf-8
[pull]
    rebase = true
[include]
    path = ~/.gitconfig.user
    path = ~/.gitconfig.diff
    path = ~/.gitconfig.proxy
[credential "helperselector"]
	selected = manager-core
