[core]
    autocrlf = false
    safecrlf = false
	editor = nvim
    excludesfile = ~/.gitignore_global
[user]
    email = zgzf1001@gmail.com
    name = xyz1001
[color]
    ui = true
[help]
    autocorrect = -1
[i18n]
    commitencoding = utf-8
    logoutputencoding = utf-8
[gui]
    encoding = utf-8
[pull]
    rebase = true
[include]
    path = ~/.gitconfig.diff
    path = ~/.gitconfig.proxy
    path = ~/.gitconfig.work
[credential "helperselector"]
	selected = manager-core
[push]
	autoSetupRemote = true
